<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="kernel" type="org.ncore.ServicedApi.Container.KernelConfiguration,org.ncore.ServicedApi"/>
    </configSections>
    <kernel>
        <types>
            <clear/>
            <add name="_unittests.org.ncore.ServicedApi.Container.ISampleInterfaceA" 
                 assembly="_unittests.org.ncore.ServicedApi" 
                 typeName="_unittests.org.ncore.ServicedApi.Container.SampleClassA"/>
            <add name="ArbitraryName" 
                 assembly="_unittests.org.ncore.ServicedApi" 
                 typeName="_unittests.org.ncore.ServicedApi.Container.SampleClassB"
                 allowSave="true"/>
        </types>
    </kernel>
</configuration>